* {padding:0; margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
html,body {height:100%;}
body {font:13px/1.4em Arial, Helvetica, sans-serif; color:#000; background:#fff;}
a {color:#000; text-decoration:underline; cursor:pointer; outline:none;}
a:hover {text-decoration:none;}
.clear {clear:both;}
fieldset {border:0;}
h1 {font-size:26px;} h2 {font-size:15px;} h3 {font-size:13px;} h4 {font-size:12px;}
h1, h2, h3, h4 {line-height:1.4em; font-family: Georgia;}
li {margin-left:25px;}
b, strong {font-weight: bold;}
img {border:0; max-width: 100%;}
hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0;}
table {border-collapse: collapse; border-spacing: 0;}
th,td {text-align:left; padding: 0;}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup {top:-0.5em}
sub {bottom:-0.25em}
pre {overflow:auto}
code, kbd, pre, samp {font-family:monospace,monospace;font-size:1em}
input {vertical-align:middle;}
input[type="text"],input[type="email"],input[type="tel"],textarea {-webkit-appearance: none}
input[type="button"],input[type="submit"],input[type="reset"],button {cursor: pointer; overflow: visible; -webkit-appearance: button;}
button[disabled] {cursor: default;}
input[type="text"],input[type="password"] {font:12px Arial, Helvetica, sans-serif; color:#000; border:1px solid #787878; padding:2px 6px; background:#fff; height:18px;}
textarea {font:12px Arial, Helvetica, sans-serif; color:#000; border:1px solid #787878; padding:3px 6px; background:#fff; overflow: auto;}
select {font:12px Arial, Helvetica, sans-serif; color:#000; border:1px solid #787878; background:#fff; vertical-align:middle;}
input[type="checkbox"],input[type="radio"] {width:13px; height:13px; box-sizing: border-box; padding: 0; margin-right:2px; margin-bottom:2px; vertical-align:bottom; display:inline-block;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}
input::-webkit-input-placeholder {color:#ccc !important;}
input:-moz-placeholder {color:#ccc !important;} /* FF <= 18 */
input::-moz-placeholder {color:#ccc !important;} /* FF  19+ */
input:-ms-input-placeholder {color:#ccc !important;}
.clearfix:after {content:"."; height:0; visibility:hidden; display:block; clear:both;}

/*--------------Page-----------------*/

.nav {text-align: center; font-weight: bold; font-family: monospace;}
.nav a {display: inline-block; margin: 0 6px; white-space: nowrap;}
.nav a:hover,.nav a:focus {color: #888; text-decoration: none;}

.header {
	margin: 20px;
	text-align: center;
}
.header h1:after {content: '['attr(data-source)']'; display: block; color: #888; font-family: monospace;}

.view {
	display: flex; flex-wrap: wrap; justify-content: space-around;
	max-width: 1150px;
	margin: 20px auto;
}
.item {
	width: 33.3%;
	text-align: left;
}
.item a {
	display: block;
	height: 100%;
	padding: 3%;
	border: 1px solid transparent;
	color: #000;
	text-decoration: none;
	box-sizing: border-box;
	transition: all .2s linear;
}
.item a:hover,
.item a:focus {
	border-color: #bbb;
	background: #f7f7f7;
	opacity: .8;
}
.item h2 { margin-bottom: 5px; }
.item .vis {
	position: relative;
	padding-top: 60%;
	margin-bottom: 10px;
}
.item .vis .img {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}
.item .vis img {
	display: block;
	width: 100%; height: 100%;
	object-fit: cover;
	outline: 1px solid rgba(0,0,0,.4);
}
.item .pubdate { margin-bottom: 5px; font-size: .9em; color: #888; }

@media screen and (max-width:860px) {
	.item { width: 50%; }
}
@media screen and (max-width:500px) {
	.item { width: 100%; }
}
