<% include partials/head %>

	<link rel="stylesheet" href="/stylesheets/news.css" type="text/css" media="screen, projection">

	<div class="news-all">
		<div class="news-nav"><ul></ul></div>

		<div class="news-header">
			<h1><a href="#">News From NewsAPI.org</a></h1>
		</div>

		<div class="news-view"></div>
	</div>

	<script src="build/app.js"></script>

<% include partials/foot %> 

