	<div class="footer">
		<div class="soc-icons">
			<a href="#" class="fa fa-facebook-square" aria-hidden="true"></a>
			<a href="#" class="fa fa-twitter-square" aria-hidden="true"></a>
			<a href="#" class="fa fa-instagram" aria-hidden="true"></a>
		</div>
	</div>
</div>
<script src="/js/script.js"></script>
<script src="/js/angcms.build.js"></script>

</body>
</html>