<h1>Blog Posts</h1>
<div class="loader-wrap" ng-show="model.loading">
	<div class="loader"></div>
</div>
<div ng-hide="model.loading">
	<table class="table">
		<tr ng-repeat="post in model.posts">
			<td class="img"><img ng-src="{{post.image}}" ng-show="post.image" /></td>
			<td class="wide"><a href="/article/{{post.permalink}}">{{post.headline}}</a></td>
			<td><a href="#/edit/{{post.permalink}}">edit</a></td>
			<td><a href="#" ng-click="model.deletePost($event, post.permalink)">delete</a></td>
		</tr>
	</table>

	<post-pager limit="model.limit" active="model.active" total="model.total" action="model.setPage"></post-pager>
</div>

